<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- For Android 12 and below (API 32 and below) -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicalApp"
        android:usesCleartextTraffic="false"
        tools:targetApi="31">

        <!-- Main Activity - Splash Screen (Launcher) -->
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Onboarding Activity -->
        <activity
            android:name=".OnboardingActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Sign In Activity -->
        <activity
            android:name=".SignInActivity"
            android:exported="false"
            android:theme="@style/Theme.MedicalApp" />

        <!-- Create Account Activity -->
        <activity
            android:name=".CreateAccount"
            android:exported="false"
            android:theme="@style/Theme.MedicalApp" />

        <!-- Profile Setup Activity -->
        <activity
            android:name=".ProfileSetupActivity"
            android:exported="false"
            android:theme="@style/Theme.MedicalApp" />

        <!-- Main Activity (Home with Bottom Navigation) -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MedicalApp" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".DoctorListActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".FavoritesActivity"
            android:exported="false"
            android:theme="@style/Theme.MedicalApp" />

        <activity
            android:name=".DoctorDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.MedicalApp"/>



    </application>

</manifest>